/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

:root {

    --clr-primary-lred:/*CTA text */ hsl(356, 100%, 66%);
    --clr-primary-vlred:/*CTA hover background */ hsl(355, 100%, 74%);
    --clr-primary-vdblue: /*Headings*/ hsl(208, 49%, 24%);

    --clr-neutral-white: /*Text*/ hsl(0, 0%, 100%);
    --clr-neutral-gblue: /*footer text*/ hsl(240, 2%, 79%);
    --clr-neutral-vdgblue:/*body copy*/ hsl(207, 13%, 34%) ;
    --clr-neutral-vdbblue: /*footer background*/ hsl(240, 10%, 16%);

    /*Background gradient - Intro/CTA mobile nav:*/
    --clr-background-gradient-intro-vlred: hsl(13, 100%, 72%);
    --clr-background-gradient-intro-lred: hsl(353, 100%, 62%);

    /*Background gradient - body:*/
    --clr-background-gradient-body-vdgblue: hsl(237, 17%, 21%);
    --clr-background-gradient-body-vddblue: hsl(237, 23%, 32%);

    --fw1: 300;
    --fw2: 400;
    --fw3: 500;
    --fw4: 600;
    --fw5: 700;

    --header-lg: clamp(1.6rem, 0.5941rem + 2.1176vw, 2.5rem);
    --header-md: clamp(1.2rem, 1.5529rem + 3.0588vw, 1.8rem);;
    --header-sm: clamp(20px 15.6px + 1.23vw, 28px);

    


    --ff-1: 'Overpass', sans-serif;
    --ff-2: 'Ubuntu', sans-serif;
}
body{
    font-size: 16px;
    font-family: var(--ff-1);
}

a {
    text-decoration: none;
    color: var(--clr-neutral-vdbblue)
    ;
}
li {
    list-style: none;
    margin: 0;

}

ul{
   margin: 0;
    padding: 0;
  }

.hidden-menu {
  display: none;
}
.hidden {
  display: none;
}

 .header-background{

  background-position: left;
  background-image: url(bg-pattern-intro-mobile.svg) ,linear-gradient(to right , var(--clr-background-gradient-intro-vlred), var(--clr-background-gradient-intro-lred));
  background-size:  245%, 100%;
 background-position: center;

   
}
.header {
  --pading-mob: clamp(1.5rem, -0.469rem + 8.399vw, 3.5rem);
  display: flex;
  flex-direction: column;
  border-radius: 0 0 0 80px;
  padding: var(--pading-mob);
}

.navbar{
  grid-column: 1/-1;
  display: grid;
  align-items: center;
  gap:2em;
  flex-wrap: nowrap;

}


.hamburger {
  margin-left: auto;
  display: block;
  grid-area: 1 / 1 / 2 / 3
}
.logo {
  grid-area: 1 / 1 / 2 / 3
}
.flex-group1 {
  display: grid;
  gap:1em
}
.flex-group {
  display: flex;
  gap: 1em
}
.nav-links{
padding: 1.5em 0;
text-align: center;
color: var(--clr-neutral-vdgblue);
background-color: var(--clr-neutral-white);
grid-area: 2 / 1 / 3 / 3;
/* display: none; */
}
.nav-link{
  padding: 1em 0em;
}

.dropdown {
  gap:1em
}
 span{
  color: var(--clr-primary-vdblue);
  font-weight: var(--fw3);
  font-size: clamp(1.2rem, 0.327rem + 1.192vw, 1.5rem);

}
 span:after{
  content: url(images/icon-arrow-dark.svg);
  margin-left: .5em;

}

.dropdown{
  background-color: var(--clr-neutral-gblue);

  padding:.5em 1.5em;
  margin-inline: 1.5em;
  border-radius: 5px;

}

.a-custom a  {

  color: var(--clr-neutral-vdgblue);
  font-weight: 500;

}
.a-custom {
  margin-block: .7em;
}
/* .nav-link:focus-within .dropdown {
display: block;

} */



.btn-sizing {
 width: 35vw ;
  padding: .55em;
  border: none;
  font-size: clamp(1rem ,.3rem + 1vw, 1.4rem);
  font-weight: var(--fw4);
  border-radius: 25px;
   

}
.btn1 {
  background-color: var(--clr-primary-red);
  color: var(--clr-primary-vdblue);
  font-weight: var(--fw3);
}

.btn1:hover {
  font-weight: var(--fw4);
  background-color: var(--clr-primary-vlred);
  color: var(--clr-neutral-white)
}
.btn2 {
  border: 1px solid var(--clr-neutral-white);
  color: var(--clr-neutral-white);
  background-color: var(--clr-primary-red);
  font-weight: var(--fw4);
}
.btn2:hover {
  background-color: var(--clr-neutral-white);
  color: var(--clr-primary-vlred)
}

.active   {
  background-image: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%) );
  color: var(--clr-neutral-white);
}

.active2   {
  background-color: var(--clr-neutral-white);
  color: var(--clr-primary-lred);
  font-weight: var(--fw5);
}
.heading1 {
  font-size: clamp(1.5rem, .8667rem + 3.7037vw, 3.3rem);
    color: white;
    font-weight: var(--fw4);

}
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  text-align: center;
  padding: 5em 1em;
color: var(--clr-neutral-white);

}
.heading p {
  font-size: 1.1rem;
  color: var(--clr-neutral-white)
}


/* section first  */
main {
  display: flex;
  flex-direction: column;
  gap:3em
}
/* TYPOGRAFY */
.heading2-color, .heading3-color{
  color: var(--clr-primary-vdblue);
  font-family: var(--ff-1);
  font-weight: var(--fw4);
}

.heading2-sizing {
  text-align: center;
}
/* SECTION START */
.first-items {
display: flex;
flex-direction: column;
grid-template-columns:  repeat(1, 1fr);
gap:3em;


}
.first {
display: grid;
padding: 2em 1em;
margin-block: 8em;
text-align: center;

}

.header2 {
order: -2
}
.heading2-sizing{
  font-size: var(--header-lg)
}
.heading3-sizing{
  font-size: var(--header-lg)
}

.ilustration-editor img {
  content: url('illustration-editor-mobile.svg');



}
.ilustration-editor  {
justify-content: center;
order: -1;
}

.ilustration-editor img {
  margin-inline: auto;
  max-width: 100%;
}

.flex-content {
  display: grid;
  gap:3em;
  margin-inline: 1.5em;
}


/* SECOND SECTION */


.second{
  display: grid;
  }
  .section2-background{
    background-image: url(images/bg-pattern-circles.svg), linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    background-repeat: no-repeat;
    background-size: 190%, 100%;
    background-position: center;
    background-position-y: 99%;
    border-radius: 0px 6em 0em 6em;
  }
  .section2-items{
    grid-row: 3/7;
    grid-column: 1/3;
   
    padding: 4em 3em;
    display: flex;
    align-items: flex-end;

  }
  .second-items{
    display: grid;
    grid-template-rows:   clamp(70px, 90px, 180px) clamp(50px, 120px, 250px) clamp(80px, 220px, 330px) clamp(100px, 275px, 300px)
    
}
  .ilustration-phones img {
    margin-inline: auto;
    width: clamp(25rem, 18.11rem + 29.396vw, 32rem)
  }
.ilustration-phones{
  grid-row: 1/2;
  grid-column: 1/3;
 
  }
 .content > *{
    color:var(--clr-neutral-white)
  }
.content {
text-align: center;  
}  

/* SECTION THIRD */

.third {
  display: grid;
  text-align: center;
  gap:1.5em
}

.flex-section3{
  padding: 2em;
  display: grid;
  gap:1rem;
}

.ilustration-laptop img{
  margin-inline: auto;
}



p {
  color: var(--clr-neutral-vdgblue);
  font-family: var(--ff-1);
  font-size: clamp(1.1rem, 0.7000rem + 0.7444vw, 1.4rem);
}

footer {
  display: grid;
  place-content: center;
  text-align: center;
  padding: 3em;
  gap:3em
}
.bg-footer{
  background-color: var(--clr-neutral-vdbblue);
  border-top-right-radius: 6.5em;
}

.dropdown-footer li > a {
  color: var(--clr-neutral-gblue);
  
  
}

.a-custom2  {
  color:var(--clr-neutral-white);
  font-weight: var(--fw4);
}

.footer-links {
  display: grid;
  gap:2rem;
}
.footer-link {
  margin-bottom: 1em;
}



@media (min-width:768px){
  .header-background {

  background-position: left;
  background-image: url(bg-pattern-intro-desktop.svg) ,linear-gradient(to right , var(--clr-background-gradient-intro-vlred), var(--clr-background-gradient-intro-lred));
  /* background-position: ; */
  /* background-size:  225%, 100%; */
 background-position: center;
 background-position-x: 24.5%;
 background-position-y: 52%;

   
}
.header {
 padding: 5em;
  
}
.hamburger{
  display: none;
}




.navbar {
    display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
    gap: clamp(1rem, -2.448rem + 7.164vw, 4rem);
    color:var(--clr-neutral-white);

}

.nav-links {
    color: #fff;
    display: flex;
    padding: 0;
  text-align: center;
  background: none;
  align-self: center;
  width: 100%;



}
.logo img {
    min-width: 6em;
}
.logo {
  align-self: center;
}
.menu {
    display: flex;
  gap:2em;

}





.product-nav, .company-nav, .connect-nav  {
    position: relative;

    
}
.nav-link {
  position: relative;
  display: flex;
  background-color: none;
  padding: 0 ;


}


.dropdown{
    position: absolute;
    background-color: var(--clr-neutral-white);
    padding:1.1em 1.5em;
    top:55px;
    border-radius: 5px;

}
.dropdown li  a  {

    width: 100%;
    /* margin-bottom: .3em; */
    color: var(--clr-neutral-vdgblue);
    font-weight: var(--fw2);
    padding: 0.2em 1em;


}
/* .nav-link:focus-within .dropdown {
  display: block;

} */

.a-custom a:hover  {

    margin-bottom: .3em;
    color: black;
    font-weight: var(--fw4);

}

.menu li a {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}



span{
    color: var(--clr-neutral-white);
    line-height: 0;
}

span:hover {
    text-decoration: underline;
}
.menu .nav-link:after{
  content: url(images/icon-arrow-light.svg);
 

}

.btn-sizing {
 
  padding: .50em;
  width: 25vw;
  min-width: none;
  border: none;
  font-size: clamp(1rem ,.8rem + .3vw, 1.3rem);
  font-weight: var(--fw3);
  border-radius: 25px;
   

}
.btn1{
  color: var(--clr-neutral-white);
}

.active  {
  background-color: var(--clr-neutral-white);
  color: var(--clr-primary-lred);
  font-weight: var(--fw4);
  background-image: none;
  }

.navbar .flex-group1 {
  display: flex;
  gap:1em;

  

}
.flex-group1{
  margin-left: auto;
  align-self: center;

}



.heading1 {
  font-size: clamp(1.5rem, 0.5667rem + 3.7037vw, 3.3rem);
    color: white;
    font-weight: var(--fw4);

}
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 7.5em 0;
  

}
.flex-group {
  gap: 1.2em;
  display: flex;
}
.heading p{
  color: var(--clr-neutral-white);
  font-size: 1.2rem;
  margin-bottom: 1.5em;
}



/* RESPONSIVE NAVMAR MENU STARTS */
/* CHECKBOX HACK */


/* hamburger menu */
.hamburger {
  font-size: 24px;
  user-select:none;
}


main {
  display: flex;
  flex-direction: column;
  gap:2em
}
/* TYPOGRAFY */
.heading2-color, .heading3-color{
  color: var(--clr-primary-vdblue);
  font-family: var(--ff-1);
  font-weight: var(--fw4);
}

.heading2-sizing {
  text-align: center;
}



/* SECTION FIRST */
.header{
  grid-row: 1/2;
 }


.nav-bar{
  padding: 0em 10em;
  gap: 3em;
} 
.header{
 grid-row: 1/2;
 padding: 5em 5em;

}
.btn-sizing{
 padding: .5em;
 width: 10vw;
}

/* first section */
.first-items{
  text-align: left;
  display: grid;

}


.first {
  display: grid;
  position: relative;

  
  }
  
  .header2 {
    grid-column: 1/5;
    grid-row: 1/2;
    margin-bottom: 1em;
  }
  .heading2-sizing{
    font-size: clamp(1.5rem, -0.7105rem + 4.6784vw, 2.3rem);;;
  }
  .heading3-sizing{
    font-size: clamp(1.5rem, 0.3947rem + 2.3392vw, 2rem);
  }
  .section-first-items{
    display: grid;
  
    
  }
  .ilustration-editor  {
    width: 110%;
    position: absolute;
    left: clamp(12rem, -1.753rem + 28.614vw, 24rem);
  
    align-self: center;
    
    }
    .ilustration-editor img {
      /* clamp(29rem, 12.809rem + 35.768vw, 45rem) */
     width: clamp(29rem, 10.663rem + 38.152vw, 45rem)
      }



.flex-content{
  display: grid;
  grid-template-columns: 38% 1fr 1fr 1fr;
  gap: 3em 0em;
  margin-left: 5em;

  grid-row: 2/3;
  grid-column: 1/2;
}

.flex-text{
  display: grid;
  gap:1em;
  max-width: 42vw;
  grid-column: 1/3;
  grid-row: 1/2;

}
.flex-text2 {
  grid-row: 2/3;
  grid-template-columns: 1/3;
}

.flex-text-sizing h3 {
  font-size: clamp(1.2rem, 0.398rem + 1.669vw, 1.9rem);
}
.flex-text-sizing p {
  font-size: clamp(0.9rem, 0.556rem + 0.715vw, 1.2rem);
}
p {
  color: var(--clr-neutral-vdgblue);
  font-family: var(--ff-1);
}


/* SECOND SECTION */


.second{
display: grid;
position: relative;


}
.second-items{
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, clamp(4rem, 4.352rem + 4.054vw, 8rem));
  
  }



.section2-background{
  background-repeat: no-repeat;
  background-size: 70%, 100%;
  background-position-y: 80% ;
  background-position-x: -70%;
  border-radius: 0px 6em 0em 6em;
}
.section2-items {
  grid-column: 1/3;
  grid-row: 1/4;

  display: grid;
  grid-template-columns:repeat(4, minmax(150px, 23%));
}
.flex-section {
  margin-right: 0;
  grid-column: 3/5;
  padding: 0em 2rem;
  align-self: center;
/* align-self: flex-start;  */
 }
.ilustration-phones img {
  width: clamp(25rem, 18.124rem + 14.307vw, 31rem);
/* 25rem */
}
.ilustration-phones{
  grid-column: 1/2;
top:-3rem;
  /* -4rem */
 position: relative;
}

.content > * {
  color: var(--clr-neutral-white);
  text-align: left;
  
}
.content h2{ 
  font-size: clamp(1.5rem, 0.698rem + 1.669vw, 2.2rem);

}
.content p {
  font-size: clamp(0.9rem, 0.556rem + 0.715vw, 1.2rem);
}

/* THIRD SECTION */
.third {
  display: grid;
  text-align: left;
  gap:1.5em;
  margin-block: 15em;
}

.section3-items{
  display: grid;
  grid-template-columns: 33% 5% 52% 10%;
  position: relative;
  gap:2em;
}

.flex-section3{
  padding: 2em;
  display: grid;
  gap:1rem;

  
}
.flex-section3{
  grid-column: 3/4;
}

.ilustration-laptop{

  grid-column: 1/3;
  align-self: center;
  position: absolute;
  left: -8rem
  /* -21rem */
}
@media (min-width: 1000px){
  .ilustration-laptop {
    left:-14.5rem;
  }
}
.ilustration-laptop img{
  content: url('images/illustration-laptop-desktop.svg');
  margin-inline: none;
 width: 100%;

  
}

footer {
  display: grid;
  grid-template-columns:5% 25% 1fr;
  text-align: center;
  padding: 3em 9em;
  gap:3em;
  MIN-width: 100%;
  text-align: left;
}
.footer-logo {
  grid-column: 2/2;
  align-self: flex-start;
} 

.dropdown-footer li > a {
  color: var(--clr-neutral-gblue);
  /* font-size: 1.3rem; */
  
  
}

.a-custom2  {
  color:var(--clr-neutral-white);
  font-weight: var(--fw4);
}

.footer-links {
  display: flex;
  gap:8rem;
  grid-column: 3/4;
}
.footer-link {
  margin-bottom: 1em;
}





}
